rules_version = '2';
service cloud.firestore {

  function hasRole(role) {
    return request.auth != null
      && request.auth.token.roles.hasAny([role, "admin"]);
  }

  match /databases/{database}/documents {
    match /events/{eventId} {
      allow read;
      allow create: if request.auth != null 
        && hasRole("leader")
        && debug(request.resource.data.createdBy) == debug(request.auth.uid)
      allow update: if request.auth != null
        && hasRole("leader")

      match /activity/private {
        allow read: if hasRole("member");
      }
    }
  }
}