rules_version = '2';
service cloud.firestore {

  function hasRole(role) {
    return request.auth != null
      && request.auth.token.roles.hasAny([role, "admin"]);
  }

  match /databases/{database}/documents {
    match /users/{userId}/subscriptions/{subscriptionId} {
      allow read, write: if request.auth != null 
        && request.auth.uid == userId
    }

    match /notifications/{userId} {
      allow read, write: if request.auth != null 
        && request.auth.uid == userId
    }

    match /events/{eventId} {
      allow read;
      allow create: if request.auth != null 
        && hasRole("leader")
        && debug(request.resource.data.createdBy) == debug(request.auth.uid)
      allow update: if request.auth != null
        && hasRole("leader")
        && (
          (request.resource.data.createdBy == resource.data.createdBy 
            && request.resource.data.createdByName == resource.data.createdByName)
          || hasRole("admin") || request.auth.uid == resource.data.createdBy
        )
      allow delete: if request.auth != null
        && (resource.data.createdBy == request.auth.uid || hasRole("admin"))
      match /activity/private {
        allow read, list: if hasRole("member");
      }
    }

    match /{path=**}/activity/{docId} {
      allow read: if hasRole("member");
    }

    match /feedback/{feedbackId} {
      allow create: if request.auth != null
        && request.resource.data.userId == request.auth.uid
        && request.resource.data.keys().hasAll(['text', 'userId', 'userName', 'userEmail', 'createdAt']);
      allow read: if hasRole("admin");
    }
  }
}