@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: repeat center/6rem url("data:image/svg+xml,%3Csvg width='63.672mm' height='82.57mm' version='1.1' viewBox='0 0 63.672 82.57' xmlns='http://www.w3.org/2000/svg'%3E%3Crect transform='matrix(.61065 .7919 -.61065 .7919 0 0)' x='26.067' y='-26.067' width='52.134' height='52.134' fill-opacity='.056347'/%3E%3C/svg%3E%0A"),
     linear-gradient(180deg,rgb(0,91,156) 0%,rgb(11,31,68) 100%);
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
}

h1 { 
  text-align: center;
  @apply mb-16 text-5xl font-bold dark:text-gray-400 md:text-6xl;
}
h2 { 
  @apply my-4 text-2xl font-bold dark:text-gray-400 md:text-3xl;
}

p{
  @apply mb-4;
}

a {
  @apply text-secondary;
}

svg, img {
  vertical-align: top;
  display: inline-block;
}