@import "tailwindcss";
@plugin "./hero.ts";

@source "./components/**/*.{js,ts,jsx,tsx,mdx}";
@source "./app/**/*.{js,ts,jsx,tsx,mdx}";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: rgb(0 91 156);
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1e40af;
  --color-secondary: #fe7300;
  --color-warning: #fe7300;
  --color-warning-light: #fbbf24;
  --color-warning-dark: #b45309;
  --color-neutral: #6b7280;
  --color-neutral-light: #d1d5db;
  --color-neutral-dark: #374151;
  --color-background-pattern: rgb(0 91 156);
  --color-background-light: #fe7300;
  --color-background-dark: #000000;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --radius-lg: 0.5rem;
  --spacing-128: 32rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* :root {
  repeat center/6rem url("data:image/svg+xml,%3Csvg width='63.672mm' height='82.57mm' version='1.1' viewBox='0 0 63.672 82.57' xmlns='http://www.w3.org/2000/svg'%3E%3Crect transform='matrix(.61065 .7919 -.61065 .7919 0 0)' x='26.067' y='-26.067' width='52.134' height='52.134' fill-opacity='.056347'/%3E%3C/svg%3E%0A"),
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
}

h1 { 
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.875rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.25rem;
  }
}
h2 { 
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.875rem;
  }
}

p{
  margin-bottom: 1rem;
}

svg, img {
  vertical-align: top;
  display: inline-block;
}

*:focus-visible {
  outline-style: none;
}

@layer base {
a { 
  color:var(--color-secondary); 
}
}